.html, body {
  overflow: hidden;
  min-height: 100vh;
}

.flex-container {
  max-height: 100vh;
  padding-bottom: 20px;
}

.fixed-header{
  position: fixed;
  height: 100;
  top: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  background-color: #535C91;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.header{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  color: #FDE767;
}

.buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 50px;
}

.radio-group {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
}

#text-small {
  font-size: 15px;
}

#text-medium {
  font-size: 18px;
}

#text-large {
  font-size: 28px;
}

.page-counter{
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  align-items: flex-end;
  width: 50px;
}

.flex-items{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 50px;
  text-align: center;
  color: #FDE767;
}

.bottom-content{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.content-block{
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-height: calc(100vh - 120px);
  overflow-y: auto;
  white-space: pre-line;
  scrollbar-width: none;
}

.content-block::-webkit-scrollbar {
  display: none;
}

.content {
  padding-left: 20px;
}

.last-content-item {
  font-size: 30px;
}

@media (max-width: 599px) {

  .html, body {
    height: 50vh;
  }

  .header, .buttons, .flex-items, .content-block {
    flex-direction: column;
  }

  .content-block {
    height: auto;

  }

  .header {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
  }

  .buttons {
    height: auto;
    width: 60%;
  }

  .radio-group {
    margin: 5px;
    }

  .page-counter {
    text-align: right;
    width: 40%;
    padding-right: 15px;
  }

  .content {
    padding-left: 10px;
  }
}

@media (min-width: 600px) and (max-width: 899px) {

    .html, body {
    height: 50vh;
  }

  .header, .buttons, .flex-items, .content-block {
    flex-direction: column;
  }

  .content-block {
    height: auto;

  }

  .header {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
  }

  .buttons {
    height: auto;
    width: 60%;
  }

  .radio-group {
    margin: 5px;
    }

  .page-counter {
    text-align: right;
    width: 40%;
    padding-right: 15px;
  }

  .content {
    padding-left: 10px;
  }
}

@media screen and (orientation: landscape) {
  .header {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .buttons, .page-counter {
    flex: 1;
  }

  .page-counter {
    order: 2;
    text-align: right;
    padding-right: 15px;
  }

  .buttons {
    order: 1;
  }
}