default_stages: [commit]
repos:
    - repo: https://github.com/PyCQA/flake8
      rev: 4.0.1
      hooks:
        - id: flake8
          args:
            - --max-line-length=79
            - --max-doc-length=72
            - --ignore=E203,W503,F841
    - repo: local
      hooks:
      -   id: pytest-check
          stages: [pre-push]
          types: [python]
          name: pytest-check
          entry: pytest
          language: system
          pass_filenames: false
          always_run: true

