body {
  background-image: linear-gradient(
    23deg,
    hsl(49deg 100% 69%) 0%,
    hsl(16deg 80% 61%) 2%,
    hsl(330deg 81% 34%) 12%,
    hsl(259deg 100% 15%) 50%,
    hsl(212deg 100% 25%) 88%,
    hsl(197deg 100% 30%) 98%,
    hsl(183deg 79% 36%) 100%
  );
  height: 100vh;
}

.button {
  border: none;
  padding: 0.325em;
  border-radius: 0.5em;
  cursor: pointer;
}

.button:hover {
  filter: brightness(0.9);
}

.button:active {
  transform: translateY(2px);
}

.selectors-container {
  display: flex;
  flex-direction: row;
}

.font-size-selector {
  display: flex;
  justify-content: left;
  gap: 1em;
  margin: 1em auto 1em;
  max-width: 40em;
}

.selector-button {
  width: 100%;
  background-color: #15202b;
  color: #fff;
  font-size: 1.1em;
}

.current-font-size {
  color: gray;
  background: #08529d;
  box-shadow: 0 0 0.5em 0.1em #c3c3c333;
}

.role {
  margin: 1.5em auto auto;
  color: whitesmoke;
}

.language-selector {
  display: flex;
  justify-content: right;
  gap: 1em;
  margin: 1em auto 1em;
  max-width: 40em;
}

.current-language {
  color: gray;
  background: #08529d;
  box-shadow: 0 0 0.5em 0.1em #c3c3c333;
}


.chat-container {
  background: #15202b;
  font-family: 'Roboto', sans-serif;
  border-radius: 0.5em;
  padding: 0.35em 1.25em;
  margin: auto;
  max-width: 90.0em;
  height: calc(37.5em, 50em);
  box-shadow: 0 0 1.25em 0.5em #c3c3c333;
}

.chat-header {
  margin-bottom: 1em;
  color: #fff;
}

.chat-header h2 {
  font-size: 1.25em;
  font-weight: bold;
}

.chat-messages {
  height: 30em;
  overflow-y: scroll;
  white-space: pre-line;
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

.message {
  padding: 0.625em;
  border-radius: 1em;
  margin-bottom: 0.625em;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.first-message {
  margin-top: 25.0em;
}

.current-message {
  font-size: 1.5em;
}

.message-text {
  font-size: 1em;
  margin-bottom: 0.31em;
  word-wrap: break-word;
}

.blue-bgr {
  background-color: #1c9bef;
}

.gray-bgr {
  background-color: #3d5365;
}

.next-button {
  display: inline;
  margin: auto;
}

.reset-chat-button {
  display: inline;
  margin: auto;
}
