body {
  background-image: linear-gradient(
    23deg,
    hsl(259deg 100% 15%) 50%,
    hsl(212deg 100% 25%) 88%,
    hsl(197deg 100% 30%) 98%,
    hsl(183deg 79% 36%) 100%
  );
  height: 100vh;
}

.button {
  border: none;
  padding: 0.325em;
  border-radius: 0.5em;
  cursor: pointer;
}

.button:hover {
  filter: brightness(0.9);
}

.button:active {
  transform: translateY(2px);
}

.selectors-container {
  display: flex;
  flex-direction: row;
}

.font-size-selector {
  display: flex;
  justify-content: left;
  gap: 1em;
  margin: 1em auto 1em;
  max-width: 40em;
}

.selector-button {
  width: 100%;
  background-color: #15202b;
  color: #fff;
  font-size: 1.1em;
  width: 30%;
  margin-bottom: 10px;
}

.current-font-size {
  color: gray;
  background: #08529d;
  box-shadow: 0 0 0.5em 0.1em #c3c3c333;
}

.role {
  margin: 1.5em auto auto;
  color: whitesmoke;
}

.language-selector {
  display: flex;
  justify-content: right;
  gap: 1em;
  margin: 1em auto 1em;
  max-width: 40em;
}

.current-language {
  color: gray;
  background: #08529d;
  box-shadow: 0 0 0.5em 0.1em #c3c3c333;
}


.chat-container {
  background: #15202b;
  font-family: 'Roboto', sans-serif;
  border-radius: 0.5em;
  padding: 0.35em 1.25em;
  margin: auto;
  max-width: 90.0em;
  box-shadow: 0 0 1.25em 0.5em #c3c3c333;
}

.chat-header {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: italic;
  color: #a79999;
}

.chat-messages {
  height: 30em;
  margin-bottom: 1.0em;
  overflow-y: scroll;
  white-space: white-space-collapse;
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

.multiline {
  white-space: pre-wrap;
}

.message {
  padding-left: 0.625em;
  border-radius: 0.5em;
  margin-bottom: 0.325em;
  display: flex;
  flex-direction: row;
  color: #d5d1d1;
  background-color: #52616d;
}

.first-message {
  margin-top: 25.0em;
}

.current-message {
  color: #f3eeee;
  background-color: #94acbb;
}

.message-text {
  font-size: 1.25em;
  /* margin-bottom: 0.31em; */
  word-wrap: normal;
}

.controls {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5em;
}

.counter {
  margin: auto;
  color: #a89b9b;
}

.next-button {
  margin-right: 46px;
  border: none;
  padding: 0.325em;
  border-radius: 0.5em;
  cursor: pointer;
  width:100px;
  height: 40px;
}

.reset-chat-button {
  margin: auto;
  margin-left: 40px;
  border: none;
  padding: 0.325em;
  border-radius: 0.5em;
  cursor: pointer;
  width:100px;
  height: 40px;
  align-self: end;
}

.settings-span {
  height: 1.0em;
  align-self: center;
  width: 1.0em;
  margin: auto;
  content: "\2699";
  color: #a89b9b;
  font-size: 2.0em;
}

.popup-opener, .popup-closer {
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;

}

.popup {
  position: fixed;
  top: 100px;
  left: 37px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

#popup-checkbox:checked + label + .popup {
  display: flex;
}

.popup-btn {
  margin-top: 20px;
}

#close {
  background-color: #52616d;
  color: white;
  border: none;
  padding: 0.325em;
  border-radius: 0.5em;
  cursor: pointer;
  width:100px;
  height: 40px;
}

